In [1]:
# 데이터불러오기
import pandas as pd
manhattan = pd.read_csv('data/manhattan.csv')
manhattan.head()

,rental_id,rent,bedrooms,bathrooms,size_sqft,min_to_subway,floor,building_age_yrs,no_fee,has_roofdeck,has_washer_dryer,has_doorman,has_elevator,has_dishwasher,has_patio,has_gym,neighborhood,borough
0,1545,2550,0.0,1,480,9,2.0,17,1,1,0,0,1,1,0,1,Upper East Side,Manhattan
1,2472,11500,2.0,2,2000,4,1.0,96,0,0,0,0,0,0,0,0,Greenwich Village,Manhattan
2,2919,4500,1.0,1,916,2,51.0,29,0,1,0,1,1,1,0,0,Midtown,Manhattan
3,2790,4795,1.0,1,975,3,8.0,31,0,0,0,1,1,1,0,1,Greenwich Village,Manhattan
4,3946,17500,2.0,2,4800,3,4.0,136,0,0,0,1,1,1,0,1,Soho,Manhattan

In [2]:
from sklearn.model_selection import train_test_split


## 독립변수와 종속변수 지정
x = manhattan[['bedrooms', 'bathrooms', 'size_sqft', 'min_to_subway', 'floor', 
                       'building_age_yrs', 'no_fee', 'has_roofdeck', 
                       'has_washer_dryer', 'has_doorman', 'has_elevator', 
                       'has_dishwasher', 'has_patio', 'has_gym']]
y = manhattan[['rent']]

In [4]:
# 데이터 세트 분리하기 (Training & Test) 7:3로 분리
x_train, x_test, y_train, y_test = train_test_split(x, y, train_size=0.7, 
                                                                    test_size=0.3)

In [5]:
x_train.head()

,bedrooms,bathrooms,size_sqft,min_to_subway,floor,building_age_yrs,no_fee,has_roofdeck,has_washer_dryer,has_doorman,has_elevator,has_dishwasher,has_patio,has_gym
608,2.0,2,968,3,18.0,31,0,0,1,1,1,0,0,1
3390,3.0,2,2000,1,4.0,106,1,0,0,0,0,0,0,0
981,2.0,2,1800,10,43.0,41,0,1,1,0,1,1,0,0
1515,0.0,1,580,1,7.0,76,0,0,0,1,1,0,0,1
3248,2.0,2,1404,43,6.0,10,0,0,0,0,0,0,0,0

In [7]:
from sklearn.linear_model import LinearRegression

# 학습 모델 생성, 실행
model = LinearRegression()
model.fit(x_train, y_train)

LinearRegression()

In [8]:
y_predict = model.predict(x_test)
y_predict[:10]

array([[5291.07695106],
       [8351.49100479],
       [5621.50386325],
       [7805.68141872],
       [3591.6293936 ],
       [9894.76194977],
       [4264.62343181],
       [3946.51227542],
       [4850.42367078],
       [3759.68171037]])

In [10]:
y_test

       rent
272    4695
2881  10905
962    5600
2483   6600
1652   3395
...     ...
3153   3355
347    7500
1525   7895
3424   9995
146    3250

[1062 rows x 1 columns]

In [11]:
# 직접데이터를 입력하여 주택 임대료를 예측
my_apartment = [[1, 1, 620, 16, 1, 98, 1, 0, 1, 0, 0, 1, 1, 0]]
my_predict = model.predict(my_apartment)
my_predict

C:\Users\JBEDU000\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([[2411.88632063]])